/* Slick Carousel Styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Adding more specificity */
.hero-section h1,
.hero-section h2 {
  color: white; /* Ensure that the text is white */
}
.home-container .about-me-text {
  color: #000000 !important;
  text-align: center;
  max-width: 100%;
  padding: 0 60px;
}

.App-header {
  background-color: #0d1320;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #61dafb;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2em;
  color: #ffffff;
}

p {
  font-size: 1.2em;
  color: #f7f7f7;
}


